<div class="container-fluid">
     
    <div class="row">
     <app-nav-page></app-nav-page>
<app-slider-page> </app-slider-page>
        <app-menu-page class="col-3 border border-black"></app-menu-page>
        <app-main-page class="col-9 border border-black"></app-main-page>
    </div>
    <app-slider-page> </app-slider-page>
   <br>
   <app-slider-page> </app-slider-page>
<br>
<app-main-page class=""style=" height: 20vh;"></app-main-page>
<app-slider-page> </app-slider-page>
<app-main-page class=""></app-main-page>
<app-slider-page> </app-slider-page>
</div>
